.loginContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginBlockUp {
  height: 100%;
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.loginBlockDown {
  /* border: 1px blue solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.loginBlockDown > img {
  width: 5rem;
}

.loginTitle {
  font-size: 2rem;
  font-weight: 700;
}

input {
  min-width: 13rem;
  border: 0;
  padding: 1rem;
  font-size: 1rem;
  color: var(--typo);
  border-radius: 0.5rem;
  margin: 0 0 0 0;
}

::placeholder {
  color: var(--grey2);
  opacity: 1; /* Firefox */
}

input:focus {
  outline-width: 0;
}
