.menuContainer {
  background-color: rgb(0, 0, 0, 0.8);
  position: absolute;
  z-index: 100;
  top: 2rem;
  left: 7rem;
  /* width: 200px; */
  /* height: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  flex-direction: column;
  color: var(--background1);
}

.menuIcon {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 101;
  cursor: pointer;
  transition: all 0.2s;
}
.menuIcon > img {
  height: 100%;
  width: 100%;
}

.menuIcon:hover {
  transform: scale(1.1);
}

.menuOption {
  cursor: pointer;
}

.menuIcon {
  width: 3rem;
}
