.menuContainer {
  position: absolute;
  z-index: 100;
  top: 2rem;
  left: 2rem;
  display: flex;
  font-size: 2rem;
}

.menuContainer > div {
  width: 5rem;
}

.menuIcon {
  cursor: pointer;
  transition: all 0.2s;
  /* width: 100%; */
}

.menuIcon:hover {
  transform: scale(1.2);
}

.menu-enter {
  opacity: 0;
  transform: translateY(-100%);
}
.menu-enter-active {
  transform: translateY(0%);
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.menu-exit {
  opacity: 1;
}
.menu-exit-active {
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
