.menuContainer {
  position: absolute;
  z-index: 100;
  top: 2rem;
  left: 2rem;
  display: flex;
  font-size: 2rem;
}

.burgerContainer {
  margin-right: 3rem;
  /* border: 1px solid blue; */
}

.optionsContainer {
  display: flex;
  gap: 0.8rem;
}

.menuIcon {
  height: 2.5rem;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.menu-enter-active {
  transform: translateX(0%);
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.menu-exit {
  opacity: 1;
}
.menu-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
