.teenContainer {
  width: 100%;
  height: 100%;
  display: flex;
}
/* @media only screen and (orientation: landscape) { */
@media only screen and (max-width: 750px) {
  .teenContainer {
    flex-direction: column;
  }
}

.teenBlockTeen {
  flex: 1;
  background-color: var(--typo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: content-box;
  padding-bottom: 1.5rem;
}

.photoBlock {
  /* margin: -2rem; */
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.photoContainer {
  margin-top: 2rem;
  width: 8rem;
  height: 8rem;
  background-color: var(--background1);
  border-radius: 4rem;
  overflow: hidden;
}
.photoContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teenInfos {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.teenInfos > p {
  color: var(--background1);
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0.8rem 0 0 0;
}

.teenInfos > p > span {
  color: var(--background1);
  font-size: 1.3rem;
  font-weight: 700;
}

/*  # # # # # # # # BLOCK EVAL # # # # # # # # */

.teenBlockEvals {
  flex: 1.2;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  /* border: solid 1px blue; */
}

.teenEvalsTitle {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  word-spacing: 4px;
  letter-spacing: 1px;
}

.evalsBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: solid 2px red; */
  height: fit-content;
}
.teenEvalsContainer {
  /* border: solid 1px green; */
  margin-bottom: 1rem;
}

.teenEvalsTime {
  background-color: var(--typo);
  color: var(--background1);
  font-size: 1.2rem;
  padding: 0.3rem 1.5rem 0.3rem 0;
  display: flex;
  /* justify-content: space-between; */
}
.teenEvalsTime > div:first-child {
  width: 100%;
  padding-left: 2rem;
}

.teenEvalsTime.notselected {
  background-color: var(--grey2);
}

.teenEvalsAction {
  display: flex;
  align-items: center;
}

.teenEvalsAction > img {
  height: 1.3rem;
}

/*  # # # # # # # # DRAWERS # # # # # # # # */

.catLine1Container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.catLine2Container {
  width: 100%;
  margin-left: 3rem;
  display: flex;
  justify-content: center;
}

/* # # # # # # # # ANIMATION # # # # # # # #  */

.drawer-enter {
  overflow: hidden;
  max-height: 0;
}
.drawer-enter-active {
  opacity: 1;
  max-height: 500px;
  transition: max-height 0.6s ease-in-out;
}

.drawer-exit {
  max-height: 500px;
}
.drawer-exit-active {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.6s cubic-bezier(0, 1, 0, 1);
}
