.selectorContainer {
  background-color: var(--typo);
  /* background-color: var(--typo); */
  color: white;
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 2rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  border-radius: 2rem;
  padding: 2rem 0 2rem 0;
  text-align: center;
  width: 2.5rem;
}

.selectorIcon {
  cursor: pointer;
  transition: all 0.1s ease;
  width: 1.4rem;
}

.selectedIcon {
  transition: all 0.1s ease;
  width: 2.5rem;
}
.selectorIcon:hover {
  transform: scale(1.2);
}

.selectorContainer img {
  width: 100%;
}
