/* # # # # # # ANSWER BUBBLES # # # # # #  */
.answers {
  display: flex;
  align-items: center;
}
.answers > div {
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
}

.answerBubble {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: var(--background2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease;
  font-size: 1.5rem;
  position: relative;
}

.answerBubblehover:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.answered {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 1rem;
  background-color: var(--button);
  text-align: center;
}

.answerSeparator {
  width: 3rem;
  height: 0.4rem;
  background-color: var(--background2);
}
