.CriteriaContainer {
  width: 100%;
  height: 100%;
  position: relative;
  /* border: 2px purple solid; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.CriterionBox {
  /* border: 2px red solid; */
  width: 100%;
  height: calc(100% - 5rem);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CriterionText {
  width: 70%;
  /* padding: 0 1rem 0 6rem; */
  font-size: 1.8rem;
  color: var(--typo);
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* border: solid 1px blue; */
}

@media only screen and (max-height: 750px) and (orientation: landscape) {
  .CriterionText {
    flex-direction: row;
    justify-content: center;
  }
  .CriterionText > img {
    margin-right: 1.5rem;
  }
}

.CriterionText > img {
  /* border: 2px orange solid; */
  width: 4rem;
  /* margin-right: 1.5rem; */
  margin-bottom: 1rem;
}

/* # # # # # # BOTTOM BAR # # # # # #  */

.bottomBar {
  /* position: absolute; */
  /* border: 2px green solid; */
  bottom: 0;
  height: 5rem;
  width: 100%;
  background-color: white;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

/* # # # # # # NEXT # # # # # #  */
.go-right-enter {
  transform: translateX(100%);
}
.go-right-enter-active {
  transform: translate(0%);
  transition: opacity var(--timing), transform var(--timing);
}
.go-right-exit {
  transform: scale(1);
}
.go-right-exit-active {
  transform: translateX(-100%);
  transition: opacity var(--timing), transform var(--timing);
}

/* # # # # # # PREV # # # # # #  */

.go-left-enter {
  transform: translateX(-100%);
}
.go-left-enter-active {
  transform: translate(0%);
  transition: opacity var(--timing), transform var(--timing);
}
.go-left-exit {
  transform: scale(1);
}
.go-left-exit-active {
  transform: translateX(100%);
  transition: opacity var(--timing), transform var(--timing);
}
