.CriteriaContainer {
  width: 100%;
  height: 100%;
  position: relative;
  /* border: 2px red solid; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.CriterionBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CriterionText {
  font-size: 1.8rem;
  color: var(--typo);
  margin-bottom: 2rem;
}

.CriterionText > img {
  height: 1.8rem;
  margin-right: 1.5rem;
}

/* # # # # # # NEXT # # # # # #  */
.go-right-enter {
  transform: scale(1) translateX(100%);
}
.go-right-enter-active {
  transform: translate(0%);
  transition: opacity var(--timing), transform var(--timing);
}
.go-right-exit {
  transform: scale(1);
}
.go-right-exit-active {
  transform: translateX(-100%);
  transition: opacity var(--timing), transform var(--timing);
}

/* # # # # # # PREV # # # # # #  */

.go-left-enter {
  transform: translateX(-100%);
}
.go-left-enter-active {
  transform: translate(0%);
  transition: opacity var(--timing), transform var(--timing);
}
.go-left-exit {
  transform: scale(1);
}
.go-left-exit-active {
  transform: translateX(100%);
  transition: opacity var(--timing), transform var(--timing);
}

/* # # # # # # BOTTOM BAR # # # # # #  */

.bottomBar {
  position: absolute;
  bottom: 0;
  height: 5rem;
  width: 100%;
  /* background-color: var(--background1); */
  background-color: white;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

/* # # # # # # ANSWER BUBBLES # # # # # #  */
.answers {
  display: flex;
  align-items: center;
}
.answers > div {
  display: flex;
  align-items: center;
}

.answerBubble {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: var(--background2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
}

.answerBubble:hover {
  transform: scale(1.2);
}

.answered {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 1rem;
  background-color: var(--button);
  text-align: center;
}

.answerSeparator {
  width: 3rem;
  height: 0.4rem;
  background-color: var(--background2);
}
