.pastAnswersContainer {
  border: 1px blue solid;
}

/* # # # # # # # # ANIMATION # # # # # # # #  */

.PA-enter {
  overflow: hidden;
  max-height: 0;
}
.PA-enter-active {
  opacity: 1;
  max-height: 500px;
  transition: max-height 0.6s ease-in-out;
}

.PA-exit {
  max-height: 500px;
}
.PA-exit-active {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.6s cubic-bezier(0, 1, 0, 1);
}
