.QuestionContainer {
  width: 100%;
  height: 200px;
  position: relative;
  border: 2px red solid;
  overflow: hidden;
}

.QuestionBox {
  background-color: orange;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QuestionText {
  font-size: 25px;
  color: white;
}

/* # # # # # # NEXT # # # # # #  */
.go-right-enter {
  transform: scale(1) translateX(100%);
}
.go-right-enter-active {
  transform: translate(0%);
  transition: opacity var(--timing), transform var(--timing);
}
.go-right-exit {
  transform: scale(1);
}
.go-right-exit-active {
  transform: translateX(-100%);
  transition: opacity var(--timing), transform var(--timing);
}

/* # # # # # # PREV # # # # # #  */

.go-left-enter {
  transform: translateX(-100%);
}
.go-left-enter-active {
  transform: translate(0%);
  transition: opacity var(--timing), transform var(--timing);
}
.go-left-exit {
  transform: scale(1);
}
.go-left-exit-active {
  transform: translateX(100%);
  transition: opacity var(--timing), transform var(--timing);
}

/* # # # # # # BUTTONS # # # # # #  */

.buttonNext {
  z-index: 1;
  border: solid 2px black;
  transform: translateY(20px);
  position: absolute;
  top: 50%;
}
.buttonPrev {
  z-index: 1;
  transform: translateY(20px);
  border: solid 2px black;
  position: absolute;
  top: 50%;
  right: 0;
}
