:root {
  --timingsnack: 0.5s;
}

.snackbar {
  position: absolute;
  bottom: 20%;
  background-color: var(--background2);
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  min-width: 6rem;
  text-align: center;
  z-index: 100;
}

.snack-enter {
  opacity: 0;
  transform: translateY(20%);
}
.snack-enter-active {
  transform: translateY(0%);
  opacity: 1;
  transition: opacity var(--timingsnack) ease, transform var(--timingsnack) ease;
}

.snack-exit {
  opacity: 1;
}
.snack-exit-active {
  transform: translateY(20%);
  opacity: 0;
  transition: opacity var(--timingsnack) ease, transform var(--timingsnack) ease;
}
