:root {
  --timing: 500ms;
  --background1: #fff6eb;
  --background2: #ffe3c2;
  --typo: #422439;
  --button: #fbc73b;
  --grey1: #f0f0f0;
  --grey2: #b5b9bd;
  --grey3: #d5d9dd;
  --inprogress: #ffcb96;
  --done: #fa8743;
  --pastAnswers: #edd9c2;
}

@font-face {
  font-family: "poppins";
  src: local("poppins"),
    url("./assets/fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "poppins";
  src: local("poppins"),
    url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "poppins";
  src: local("poppins"),
    url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  /* font-size: 16px; */
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 10px;
  }
}

body {
  margin: 0;
  min-width: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  /* color: white; */
  text-decoration: none;
}

.appContainer {
  color: var(--typo);
  background-color: var(--background1);
  width: 100%;
  height: 100vh;
  font-family: "poppins";
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hoverbright {
  transition: all 0.2s ease;
  cursor: pointer;
}

.hoverbright:hover {
  filter: brightness(1.4);
}

.hoverbig {
  transition: all 0.05s ease;
  cursor: pointer;
}

.hoverbig:hover {
  transform: scale(1.1);
}

.hoverright {
  transition: all 0.2s ease;
  cursor: pointer;
}

.hoverright:hover {
  transform: translateX(0.25rem);
}

.hoveryellow {
  transition: all 0.2s ease;
  cursor: pointer;
}

.hoveryellow:hover {
  color: var(--button);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.appearAnim {
  animation: appear 0.3s ease;
}
