.svgProgressBar {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 1px solid blue; */
  /* margin-left: 5%; */
}

.svgProgressBar svg {
  position: absolute;
}
.svgProgressBar img {
  z-index: 100;
}
